extends layout

block content

  #content.container.text-page
    .row
      .span4
      .span5

        - if (typeof(alert) !== 'undefined'){
          .alert #{alert}
        - }

        - if (typeof(err) !== 'undefined'){
          .alert.alert-error #{err}
        - }

        h2 Reset your password
        hr

        form(action="/reset/confirm",method="post")

          div
            label Email
            p= email

          hr

          div
            label Password
            input(type="password",name="password", value="")
            input(type="hidden",name="username",value="#{username}")
            input(type="hidden",name="key",value="#{key}")

          div
            input.btn(type="submit",value="Reset Password")
