extends layout

block content

	#content.container.text-page.share

		.streaming
			.overlay
			.text
				if query.line1 !== "undefined"
					span.streaming I'm controlling &#8203;
					if query.image !== "undefined"
						img.thumb(src=query.image)
					span.track.line1=query.line1
						if query.line2 !== "undefined"
							span.track.divider &#8203; - &#8203;
							span.track.line2=query.line2
					if query.remote !== "undefined"
						| &#8203; with the &#8203;
						span.remote=query.remote
						| &#8203; remote for &#8203;
					else
						|  &#8203; with &#8203;
					a(href='https://mote.io') Mote.io &#8203;
				else
					span I'm using Mote.io to control my favorite websites with my phone. &#8203;
					a(href='https://mote.io') Learn more about Mote.io &#8203;
				div.download
					a.btn.btn-large.btn-primary Get Mote.io for Android
			.screenshot
				if query.screenshot !== "undefined" && query.screenshot
					img(src=query.screenshot)
